<% if @model == "user" %>
  <h3>Users search for <%= @keyword %></h3>
  <%= render 'users/index', users: @records %>
<% else %>
  <h3>Books search for <%= @keyword %></h3>
  <%= render 'books/index', books: @records %>
<% end %>
